<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <style>
      body {
        text-align: center;
      }
      header {
        padding: 1em;
        margin: 4em;
      }
      div.container {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #b2960b;
        margin: 8em 0em;
        padding: 10px;
      }
      .grid {
        width: 606px;
        height: 606px;
        display: flex;
        flex-wrap: wrap;
      }
      .square {
        height: 200px;
        width: 200px;
        border: solid black 1px;
      } 
      .mole {
        background-image: url("../images/gold.png");
        background-size: cover;
      }
      #grid {
        width: 400px;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <a href="/">Hit Your Discount</a> | <a href="/memory-game">Memory Game</a> | <a href="/rock-paper-scissors">Rock Paper Scissors</a>
    </header>
    {{ content | safe }}
  </body>
</html>
