---
title: News
layout: base.njk
pagination:
  data: news
  size: 1
  alias: news
permalink: /{{ news.country }}/index.html
---



<div class="container">
  <div id="weather" class="hidden"> 
    <h2>Weather near you:</h2>
    <p id="city"></p>
    <p id="temp"></p>
    <p id="main"></p>
    <p id="desc"></p>
  </div>

  <h2>News in your region:</h2>
  {# <div class="random-game"></div> #}


  <ul>
  {% for articles in news.articles %}
    <li><h5><a href="{{ articles.url }}"> {{ articles.title }} </a></h5></li>
    <span>{{ articles.source.name }} - <time>{{ articles.publishedAt }}</time></span>
  {% endfor %}
  </ul>
</div>
<script src="/js/index.js"></script>
<script src="/js/weather.js"></script>