---
title: News
layout: base.njk
pagination:
  data: news
  size: 1
  alias: news
permalink: /{{ news.country }}/index.html
---

<div class="container">
  <h1>News in your region:</h1>
  {# <div class="random-game"></div> #}


  <ul>
  {% for articles in news.articles %}
    <li><h5><a href="{{ articles.url }}"> {{ articles.title }} </a></h5></li>
    <span>{{ articles.source.name }} - <time>{{ articles.publishedAt }}</time></span>
  {% endfor %}
  </ul>
</div>
<script src="/js/index.js"></script>